.tasks {
    list-style: none;
    padding: 10px;
}

.tasks__item {
    display: grid;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0px 0px 0px;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.tasks__button {
    width: 30px;
    height: 30px;
    border: none;
    padding: 0px;
    color: white;
    cursor: pointer;
}

.tasks__button--done {
    background-color: green;
    transition: 2s;
}

.tasks__button--done:hover {
    background-color: rgb(57, 195, 57);
}

.task__content--done {
    text-decoration: line-through;
}

.tasks__button--remove {
    width: 30px;
    height: 30px;
    border: none;
    background-color: red;
    color: white;
    transition: 1s;
}

.tasks__button--remove:hover {
    background-color: rgb(251, 97, 97);
    transform: rotate(360deg);
}
