.section__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}
.tasks__item--hiden {
    display: none;
}

.buttons__button {
    margin: 0 0 0 20px;
    border: none;
    color: teal;
    background-color: white;
    font-size: 15px;
    transition: 1s;
}

.buttons__button:hover {
    color: rgb(47, 205, 70);
}

@media (max-width:767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.completeAllButton:disabled {
    color: rgb(203, 201, 201)
}